/* 
 * Global Variables
 */
:root {
  --bg-color: rgb(255, 237, 204);
  --bg-color-darkened: rgb(255, 179, 38);
  --copy-color: rgb(71, 71, 71);
  --secondary-copy-color: rgb(245, 245, 245);
  --primary-color: rgb(82, 183, 123);
  --primary-color-darkened:rgb(42, 101, 66);
  --secondary-color: rgb(169, 219, 189);
  --secondary-color-darkened: rgb(140, 207, 167);
}

/* 
 * General
 */

body {
  background-color: var(--bg-color);
  color: var(--copy-color);
  /* font-family: Garamond, serif; */
}

/* 
 * Navigation Bar
 */
#nav-bar {
  width: 100%;
  font-weight: bold;
}
#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-bar li:first-of-type {
  background-color: var(--primary-color);
  border-left: none;
  float: left;
  width: 8%;
  padding: 0.5em 0;
}

#nav-bar li {
  background-color: var(--primary-color);
  float: left;
  width: 23%;
  padding: 0.5em 0;
}

#nav-bar li a {
  text-decoration: none;
}

#nav-bar li:hover {
  background-color: var(--primary-color-darkened);
  color: var(--secondary-copy-color);
}

#nav-bar #active {
  background-color: var(--bg-color-darkened);
}

.dropdown {
  display: inline-block;
  z-index: 1;
}

.drop-nav {
  background-color: var(--secondary-color);
  color: var(--copy-color);
  display: none;
  margin-top: 0.5em;
  position: absolute;
  width: 23%;
}

.dropdown:hover .drop-nav {
  display: block;
}

.drop-nav a {
  color: var(--copy-color);
  display: block;
  font-weight: normal;
  padding: 0.5em 0;
  text-decoration: none;
}

.drop-nav a:hover { 
  background-color: var(--secondary-color-darkened);
}

/* 
 * Header
 */
header {
  color: var(--copy-color);
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* 
 * Main Content
 */

#content {
  position: relative;
  top: 15em;
  width:100%;
}

.one-col {
  float: left;
  width: 95%;
}

.one-col p, .one-col h4 {
  padding: 0 5em;
  text-align: left;
}

.two-col {
  float: left;
  width: 50%;
  text-align: center;
}

.two-col p {
  margin-right: 5em;
  padding: 0.5em 5em;
  text-align: left;
}

.headshot img {
  border: 2px solid var(--primary-color-darkened);
  box-shadow: 5px 5px 5px rgb(62, 137, 92), 10px 10px 10px var(--primary-color-darkened), 15px 15px 15px var(--copy-color);
  height: 600px;
  width: 450px;
}